{
  "parser": "babel-eslint",
  "rules": {
    "strict": 0,
    "quotes": [2, "single"],
    "camelcase": [2, {"properties": "always"}],
    "curly": [2, "multi-line"],
    "eqeqeq": [2, "smart"],
    "indent": [2, 2],
    "no-unused-vars": [2, {"vars": "all", "args": "after-used"}],
    "no-mixed-spaces-and-tabs": [2, "smart-tabs"]
  },
  "env": {
    "browser": true,
    "node": true,
    "mocha": true
  }
}
